@model MockLibrary.Models.Passengers

@{
    ViewData["Title"] = "Details";
    var totalSpent = Model.Bookings.Sum(b => b.TicketCost);
}

<h1>Details</h1>

<div>
    <h4>Passengers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
    </dl>
</div>

<div>
    <h4>Flights Booked</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Ticket Type</th>
                <th>Ticket Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Flights" asp-route-id="@booking.Flight.FlightID">
                            @booking.Flight.FlightNumber
                        </a>
                    </td>
                    <td>@booking.TicketType</td>
                    <td>@booking.TicketCost.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h4>Total Amount Spent on Flights</h4>
    <p>@totalSpent.ToString("C")</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.PassengerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
